<div id="<%= dom_id blog %>">
  <p>
    <strong>Session:</strong>
    <%= blog.session_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Introduction:</strong>
    <%= blog.introduction %>
  </p>

  <p>
    <strong>Unbounded:</strong>
    <%= blog.unbounded %>
  </p>

  <p>
    <strong>File:</strong>
    <%= blog.file_id %>
  </p>

</div>
