<div id="<%= dom_id recipe %>">
  <p>
    <strong>Session:</strong>
    <%= recipe.session_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Introduction:</strong>
    <%= recipe.introduction %>
  </p>

  <p>
    <strong>Unbounded:</strong>
    <%= recipe.unbounded %>
  </p>

  <p>
    <strong>File:</strong>
    <%= recipe.remotefile_id %>
  </p>

</div>
