<p style="color: green"><%= notice %></p>

<%= render @remotefile %>

<div>
  <%= link_to "Edit this remotefile", edit_remotefile_path(@remotefile) %> |
  <%= link_to "Back to remotefiles", remotefiles_path %>

  <%= button_to "Destroy this remotefile", @remotefile, method: :delete %>
</div>
